.articulo {
  border: 1px solid var(--amarillo);
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: var(--gris-transparente);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 15vw;
  text-align: center;
  height: 75vh;
}

.articulo-imagen {
  width: 80%;
  height: 300px;
  border-radius: 12px;
}

.articulo-imagen img {

  object-fit: cover;
  align-items: center;
}

.articulo:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.articulo-nombre {
  font-size: 1rem;
  color: var(--amarillo);
  margin-bottom: 12px;
  transition: color 0.3s ease;
}

.articulo-info {
  grid-area: articulo-info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.articulo-descripcion,
.articulo-precio,
.articulo-material,
.articulo-categoria,
.articulo-talles {
  margin: 8px 0;
}

.articulo-descripcion {
  font-size: 1rem;
  color: var(--azulOscuro);
}

.articulo-precio {
  font-size: 1.2rem;
  color: var(--rojoOscuro);
  font-weight: 700;
}

.articulo-material {
  font-size: 1rem;
  color: var(--celesteOpaco);
}

.articulo-categoria {
  font-size: 1rem;
  color: var(--celesteOpaco);
}

.articulo-talles {
  font-size: 1rem;
  color: var(--naranja);
  font-style: italic;
}
