
.carousel_s {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80%;
   
  }
  
  .carousel_s-image {
    width:80%;
    height: 100%; 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    
  }
  
  



  