.favoritos {
  width: 100%;
height: 100vh;
  display: grid;
  grid:
    "nav" auto
    "favoritos" 1fr
    "footer" auto
    / auto;
  gap: 8px;
}

.nav {
  grid-area: nav;
}
.favoritos {
  grid-area: favoritos;
}
.footer {
  grid-area: footer;
}
