
.footer {
  background-color: var(--negro); 
  padding: 5px; 
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  gap: 30rem;
  
}


.nosotros{
  display: grid;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nosotros p{
  color: var(--amarillo);
  margin: 2px;
}

.nosotros p:hover{
  color: var(--rojoOscuro);

}

.social-media{
  display: flex;
  gap: 30px;
  list-style: none;
 
}

.logo_img{
  width: 4vw;
  height: 8vh;
}

.desarrollador .logo_img{
  width: 4vw;
  height: 8vh;
}