
.footer {
  background-color: var(--negro);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15rem;
  align-content: space-between;
  justify-content:space-around;

}


.nosotros{
  display: grid;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nosotros p{
  color: var(--amarillo);
  margin: 2px;
}

.nosotros p:hover{
  color: var(--rojoOscuro);

}

.social-media{
  display: flex;
  gap: 30px;
  list-style: none;
 
}

.logo_img{
  width: 4vw;
  height: 8vh;
}

.desarrollador .logo_img{
  width: 4vw;
  height: 8vh;
}