.impresion3d_c{
    width: 100%;
    height: 100vh;
    display: grid;
    grid:
      "nav nav nav" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 0.5fr auto 0.1fr;
    gap: 9px;
  }
  
  .nav { grid-area: nav; }
  .leftSide { grid-area: leftSide; }
  .body { grid-area: body; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; }
