:root {
  --fuenteHeading: "Heebo", sans-serif;
  --fuenteParrafos: "Noto Sans", sans-serif;

  --blanco: #ffffff;
  --negro: #000814;
  --azul: #003566;
  --amarillo: #ffd60a;
  --celeste: #04b4e0;
  --rojo: #c70039;
  
  --rojoOscuro: #c70039;
  --azulOscuro: #001d3d;
  
  --colorFondo: #a5a3a3;
  
  --blanco-opaco: rgba(255, 255, 255, 0.5);
  --celeste-transparente: rgba(0, 194, 255, 0.6);
  --rojo-transparente: rgba(228, 14, 14, 0.6);
  --gris-transparente: rgba(128, 128, 128, 0.5);
  --negro-transparente: rgba(0, 0, 0, 0.6);
  --degradado: linear-gradient(145deg, #cbf3f0, #003566);
  
  --banner: url("");
  --imgfondo: url("/img/fondo2.png");
}





body {
  display: flex;
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center;
  background-image: var(--imgfondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}





/* Estilo de enlaces sin subrayado */
a {
  text-decoration: none;
}

