:root {
  --fuenteHeading: "Heebo", sans-serif;
  --fuenteParrafos: "Noto Sans", sans-serif;

  --blanco: #ffffff;
  --blanco-opaco: rgba(255, 255, 255, 0.5);
  --negro: #000814;
  --azulOscuro: #001d3d;
  --azul: #003566;
  --crema: #ffc300;
  --amarillo: #ffd60a;

  --naranja: #ff9f1c;
  --piel: #ffbf69;
  --turquesa: #2ec4b6;
  --celesteOpaco: #6e9c98;
  --degradado: linear-gradient(145deg, #cbf3f0, #003566);

  --celeste: #04b4e0;
  --rojo: #c70039;
  --rojoOscuro: #c70039;
  --colorFondo: #a5a3a3;

  --celeste-transparente: rgba(0, 194, 255, 0.6);
  --gris-transparente: rgba(128, 128, 128, 0.5);
  --negro-transparente: rgba(0, 0, 0, 0.6);

  --banner: url("");
  --imgfondo: url("/img/fondo.png");
}



/* Variables para el modo oscuro */
:root[data-theme="dark"] {
  --blanco: #000814;
  --negro: #ffffff;
  --blanco-opaco: rgba(0, 8, 20, 0.5);
  --azulOscuro: #085ba8;
  --azul: #001d3d;
  --crema: #ffc300;
  --amarillo: #ffd60a;

  --naranja: #ff9f1c;
  --piel: #ffbf69;
  --turquesa: #2ec4b6;
  --celesteOpaco: #cbf3f0;

  --celeste: #04b4e0;
  --rojo: #c70039;
  --rojoOscuro: #581845;
  --colorFondo: #000814;
  --degradado: linear-gradient(145deg, #003566, #cbf3f0);

  --banner: url("");
  --imgfondo: url("");
}

body {
  display: flex;
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center;
  background-image: var(--imgfondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}





/* Estilo de enlaces sin subrayado */
a {
  text-decoration: none;
}

