
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--negro-transparente);
  padding: auto ;
  gap: 20rem;
  align-items: center;
}
  
  .navbar-logo .logo {
    height: 5rem;
    width: 5rem;
    margin: auto;

  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    color: var(--amarillo);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .navbar-links a:hover {
    color: var(--rojoOscuro); 
  }
  
.nav-button {
  display: inline-block;
  width: 8rem;
  padding: 10px 20px; 
  text-decoration: none;
  text-align: center;
  color: #fff; 
  background-color: var(--gris-transparente); 
  border: 1px solid var(--amarillo); 
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.nav-button:hover {
  background-color: var(--amarillo); 
  border-color:var(--gris-transparente);
  
}

.nav-button:active {
  background-color: #003d7a; 
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(2px); 
}
